//- Home page template
html 
    head 
        link( rel="stylesheet" href="/css/default")
        script(  type="text/javascript" src="/js/framework")
    body 
        h1 Brunel <i>ecotrac</i> - Administration
        hr
        table 
            tr 
                td(class="button") New Customer 
                td(class="button") Monitor