//- Home page template
doctype html
html 
    head 
        link( rel="stylesheet" href="/css/default")
        script(  type="text/javascript" src="/js/framework")
    body 
        h1 Brunel <i>ecotrac</i>
        hr
        table 
            tr 
                td(class="button") Log 
                td(class="button") Folders
                td(class="button") New Folder
        hr